In [60]:
#1 fetch all data from the file

file=open("nthdata.txt","r")

allData=file.read()

print(allData)

TCS,Sai,Rohit,Satya,Dhoni,Sarath,Saroj,Venkat,Sas
INFOSYS,Kohli,Santosh,Venkat,Koti,Prabha,Soumya,Mishra
WIPRO,Satya,Kohli,Ram,Chinna,Pop,Amelia,Suresh,Arjuna
CTS,Prabha,Subha,Debha,Rabha,Venkat,Dhoni,Surya,Saroj
NTH,Narayana,Akhil,Arha,Venkat,Sravya,Ananya,Revanth,Aha
ABC,Arha,Chinna,Satya,Dhoni,Venkat,Rohit,Yash,Nikhilesh

In [61]:
#2 read the first line
file=open("nthdata.txt","r")
FirstLine=file.readline()

print(FirstLine)

TCS,Sai,Rohit,Satya,Dhoni,Sarath,Saroj,Venkat,Sas

In [62]:
#3 read the last line from the file
file=open("nthdata.txt","r")

data=file.readlines()

lastLine=data[-1]

print(lastLine)

ABC,Arha,Chinna,Satya,Dhoni,Venkat,Rohit,Yash,Nikhilesh

In [63]:
#4 read the 3rd line from the file 
file=open("nthdata.txt","r")

data=file.readlines()

thirdLine=data[2]

print(thirdLine)

WIPRO,Satya,Kohli,Ram,Chinna,Pop,Amelia,Suresh,Arjuna

In [1]:
#5 count total number of characters in file
file=open("nthdata.txt","r")

data=file.read()
totalChar=len(data)
print(totalChar)

325

In [65]:
#6 total no. of commas
file=open("nthdata.txt","r")

data=file.read()
count=0
for i in data:
    if "," in i:
        count+=1
        
        
print(count)

47

In [66]:
#7 count total numbers of words in first line
with open("nthdata.txt","r") as file:

    data=file.readline()
    
wordCount=len(data.split(","))

print(wordCount)

9

In [67]:
#8 count total number of lines
with open("nthdata.txt","r") as file:

    data=file.readlines()
    totalLines=len(data)
    
    print(totalLines)

6

In [68]:
#9 count total number of " sai " name in file

with open("nthdata.txt","r") as file:

    data=file.read()
    
counter=0 

for i in data:
    if i=="sai":
        counter+=1
    
print(counter)

0

In [69]:
#10 fetch the first word from each line in the file:

with open("nthdata.txt","r") as file:
    data=file.readlines()

for line in data:
    print(line.split(",")[0])
file.close()

TCS
INFOSYS
WIPRO
CTS
NTH
ABC

In [70]:
#11 last wor from each line
with open("nthdata.txt","r") as file:
    data=file.readlines()

for line in data:
    print(line.split(",")[-1])

Sas

Mishra

Arjuna

Saroj

Aha

Nikhilesh

In [71]:
#12 fetch all words which starts with a
with open("nthdata.txt","r") as file:
    data=file.read()

data=data.replace("\n",",")
new = data.split(",")

for i in new:
    if i.startswith("A"):
        print(i)

Amelia
Arjuna
Akhil
Arha
Ananya
Aha
ABC
Arha

In [72]:
#13 fetch all words which ends with an vowel
with open("nthdata.txt","r") as file:
    data=file.read()

data=data.split(",")
for ele in data:
    if ele.endswith("a") or ele.endswith("e") or ele.endswith("i")or ele.endswith("o") or ele.endswith("u"):
        print(ele)

Sai
Satya
Dhoni
Kohli
Koti
Prabha
Soumya
Satya
Kohli
Chinna
Amelia
Prabha
Subha
Debha
Rabha
Dhoni
Surya
Narayana
Arha
Sravya
Ananya
Arha
Chinna
Satya
Dhoni

In [73]:
#14 fech all words which has either "a or "i" character in the file
with open ("nthdata.txt","r") as file:
    data=file.read()
    
data=data.split(",")

for ele in data:
    if "a" in ele or "i" in ele:
        print(ele)

Sai
Rohit
Satya
Dhoni
Sarath
Saroj
Venkat
Sas
INFOSYS
Kohli
Santosh
Venkat
Koti
Prabha
Soumya
Mishra
WIPRO
Satya
Kohli
Ram
Chinna
Amelia
Arjuna
CTS
Prabha
Subha
Debha
Rabha
Venkat
Dhoni
Surya
Saroj
NTH
Narayana
Akhil
Arha
Venkat
Sravya
Ananya
Revanth
Aha
ABC
Arha
Chinna
Satya
Dhoni
Venkat
Rohit
Yash
Nikhilesh

In [74]:
#15 fetch all words which contains only 5 characters in the file
with open ("nthdata.txt","r") as file:
    data=file.read()

data=data.split(",")

for ele in data:
    if len(ele)==5:
        print(ele)

Rohit
Satya
Dhoni
Saroj
Kohli
Satya
Kohli
Subha
Debha
Rabha
Dhoni
Surya
Akhil
Satya
Dhoni
Rohit

In [75]:
#16 fetch all words which does not contains vowels except "i" in the file
with open ("nthdata.txt","r") as file:
    data=file.read()
data=data.replace("\n",",")
data=data.split(",")

for ele in data:
    
    if "a" not in ele.lower() and "e" not in ele.lower() and "o" not in ele.lower() and "u" not in ele.lower():
        print(ele)

TCS
CTS
NTH

In [76]:
#17 fetch all words whichends with uppercase character in the file
with open ("nthdata.txt","r") as file:
    data=file.read()
data=data.replace("\n",",")
data=data.split(",")

for ele in data:
    if ele[-1].isupper():
        print(ele)

TCS
INFOSYS
WIPRO
CTS
NTH
ABC

In [77]:
#18 count total number of characters in the file excluding commas and \ns
with open ("nthdata.txt","r") as file:
    data=file.read()


data=data.replace("\n",",")
data=data.replace(",","")


print("total number of characters in the file excluding commas and \n is => ",len(data))

total number of characters in the file excluding commas and
 is =>  279

In [78]:
#19 count total number of words in the entire file
with open("nthdata.txt","r") as file:
    data=file.read()
    
data=data.replace("\n",",")
data=data.split(",")

print(len(data))

53

In [79]:
#20 fetch all even number words from every line in the file
with open("nthdata.txt","r") as file:
    data=file.read()
data=data.replace("\n",",")
data=data.split(",")

for ele in data:
    if len(ele)%2==0:
        print(ele,len(ele))

Sarath 6
Venkat 6
Sas  4
Venkat 6
Koti 4
Prabha 6
Soumya 6
Chinna 6
Amelia 6
Suresh 6
Prabha 6
Venkat 6
Saroj  6
Narayana 8
Arha 4
Venkat 6
Sravya 6
Ananya 6
Aha  4
Arha 4
Chinna 6
Venkat 6
Yash 4
Nikhilesh  10

In [80]:
#21 fetch all words which ends with "bha" in the file
with open("nthdata.txt","r") as file:
    data=file.read()
    
data=data.replace("\n",",")
data=data.split(",")

for ele in data:
    if ele.endswith("bha"):
        print(ele)

Prabha
Prabha
Subha
Debha
Rabha

In [81]:
#22 program to display all TCS employees
with open("nthdata.txt","r") as file:
    data=file.readlines()
    
for ele in data:
    if ele.startswith("TCS"):
        print(ele[4:])

Sai,Rohit,Satya,Dhoni,Sarath,Saroj,Venkat,Sas

In [82]:
#23 company name of chinna employee

with open("nthdata.txt","r") as file:
    data=file.readlines()
    
for i in data:
    
    if "Chinna" in i:
        i=i.split(",")
        print(i[0])

WIPRO
ABC

In [83]:
#24 fetch second from 3rd line in file

with open("nthdata.txt","r") as file:
    data=file.readlines()

line=data[2]

line=line.split(",")
# print(line)
word=line[1]
print(word)

Satya

In [84]:
#25 fetch the first characters from each words in 3rd line

with open ("nthdata.txt","r") as file:
    data=file.readlines()

line=data[2]

line=line.split(",")

for char in line:
    print(char[0])

W
S
K
R
C
P
A
S
A

In [85]:
#26 fetch first and last character fo each word in the last line
with open ("nthdata.txt","r") as file:
    data=file.readlines()

line=data[-1]
line=line.split(",")
for char in line:
    print(char[0],char[-1])

A C
A a
C a
S a
D i
V t
R t
Y h
N

In [86]:
#27 fetch all characters (except 1st and last chars) of each word in the 2nd line:
with open ("nthdata.txt","r") as file:
    data=file.readlines()

line=data[1]
line=line.split(",")

for char in line:
    print(char[2:-1])

FOSY
hl
ntos
nka
t
abh
umy
shra

In [87]:
#28 count total numbers of words which starts with "s" character

with open ("nthdata.txt","r") as file:
    data=file.read()

data=data.replace("\n",",")
words=data.split(",")
# print(words)
count=0

for word in words:
    word=word.lower()
    if word.startswith("s"):
        count+=1
        print(word)

print("total numbers of words which starts with \"s\" character are => ",count)

sai
satya
sarath
saroj
sas
santosh
soumya
satya
suresh
subha
surya
saroj
sravya
satya
total numbers of words which starts with "s" character are =>  14

In [88]:
#29 fetch all duplicate name in the file:
with open ("nthdata.txt","r") as file:
    data=file.read()

data=data.replace("\n",",")
data=data.split(",")
# unique_list=[]
# duplicate_list=[]
# for name in data: #find duplicate algorithm
#     if name not in unique_list:
#         unique_list.append(name)

#     elif name not in duplicate_list:
#         duplicate_list.append(name)

# print(duplicate_list)

duplicate={name for name in data if data.count(name)>1}

print(duplicate)

{'Prabha', 'Satya', 'Rohit', 'Kohli', 'Venkat', 'Dhoni', 'Chinna', 'Arha'}

In [89]:
#30 program to count all vowels in the file(output in dict)

with open ("nthdata.txt","r") as file:
    data=file.read()

data=data.replace("\n",",")
data=data.split(",")
acount=0
ecount=0
icount=0
ocount=0
ucount=0

for word in data:
    for char in word:
        char=char.lower()
        if "a" in char:
            acount+=1
        if "e" in char:
            ecount+=1
        if "i" in char:
            icount+=1
        if "o" in char:
            ocount+=1
        if "u" in char:
            ucount+=1

vowels={"a":acount,"e":ecount,"i":icount,"o":ocount,"u":ucount}
print("total number of vowels => ",vowels)

total number of vowels =>  {'a': 55, 'e': 10, 'i': 18, 'o': 15, 'u': 5}

In [90]:
#31 program to reverse all words in the file:

with open("nthdata.txt","r") as file:
    data=file.read().replace("\n",",").split(",")

for words in data:
    print(words)

TCS
Sai
Rohit
Satya
Dhoni
Sarath
Saroj
Venkat
Sas
INFOSYS
Kohli
Santosh
Venkat
Koti
Prabha
Soumya
Mishra
WIPRO
Satya
Kohli
Ram
Chinna
Pop
Amelia
Suresh
Arjuna
CTS
Prabha
Subha
Debha
Rabha
Venkat
Dhoni
Surya
Saroj
NTH
Narayana
Akhil
Arha
Venkat
Sravya
Ananya
Revanth
Aha
ABC
Arha
Chinna
Satya
Dhoni
Venkat
Rohit
Yash
Nikhilesh

In [91]:
#32 fetch all words which contains two or more then "a" characters:
with open("nthdata.txt","r") as file:
    data=file.read().replace("\n",",").split(",")

for words in data:

    if words.count("a")>=2:
        print(words)

Satya
Sarath
Prabha
Satya
Prabha
Rabha
Narayana
Sravya
Ananya
Satya

In [92]:
#33 fetch all words which starts and ends with "a" characters:
with open("nthdata.txt","r") as file:
    data=file.read().replace("\n",",").split(",")

for words in data:
    words=words.lower()
    if words.startswith("a") and words.endswith("a"):
        print(words)

amelia
arha
ananya
arha

In [139]:
#34 fetch word which has more number of "a" character:

with open("nthdata.txt","r") as file:
    data=file.read().replace("\n",",").split(",")

count=0
for words in data:
    a=words.lower().count("a")
    
    if a>count:

        count=a
        a_word=words

print(a_word)

Narayana

In [94]:
#35 fetch all company names which starts with vowel:

with open("nthdata.txt","r") as file:
    data=file.read().replace("\n",",").split(",")

for words in data:
    word=words.lower()
    if word.startswith(("a","i","o","u")):
        print(words)

INFOSYS
Amelia
Arjuna
Akhil
Arha
Ananya
Aha
ABC
Arha

In [95]:
#36 display company name which contains Saroj Employee:


with open("nthdata.txt","r") as file:
    data=file.readlines()

for lines in data:
    if "Saroj" in lines:
        line=lines.split(",")
        print(line[0])

TCS
CTS

In [96]:
#37 count all words which starts and ends with consonants:


with open("nthdata.txt","r") as file:
    data=file.read().replace("\n",",").split(",")

for words in data:
    if words[0] not in ("A","E","I","O","U") and words[-1] not in ("a","e","i","o","u"):
        print(words)

TCS
Rohit
Sarath
Saroj
Venkat
Sas
Santosh
Venkat
Mishra
WIPRO
Ram
Pop
Suresh
CTS
Venkat
Saroj
NTH
Venkat
Revanth
Venkat
Rohit
Yash
Nikhilesh

In [97]:
#38 fetch all company names which does not contain Venkat employee:
with open("nthdata.txt","r") as file:
    data=file.readlines()

for line in data:
    if "Venkat" not in line:
        line=line.split(",")
        print(line[0])

WIPRO

In [98]:
#39 display company name where Narayana is working:
with open("nthdata.txt","r") as file:
    data=file.readlines()

for line in data:
    if "Narayana" in line:
        line=line.split(",")
        print(line[0])

NTH

In [146]:
#40 display the first word and last word from each line in dict format:
with open("nthdata.txt","r") as file:
    data=file.readlines()

# dict={"company":[],
#       "employee":[]}
# for lines in data:
#     line=lines.replace("\n",",").split(",")
#     dict["company"].append(line[0])
#     dict["employee"].append(line[-1])
# print(dict)

mydict={}

for lines in data:
    line=lines.replace("\n","").split(",")
    i=line[0]
    j=line[-1]
    mydict[i]=j

print(mydict)

{'TCS': 'Sas', 'INFOSYS': 'Mishra', 'WIPRO': 'Arjuna', 'CTS': 'Saroj', 'NTH': 'Aha', 'ABC': 'Nikhilesh'}

In [100]:
#41 fetch all names whose names starts with "a" in NTH company:

with open("nthdata.txt","r") as file:
    data=file.readlines()

for i in data:
    if "NTH" in i:
        line=i.split(",")
        for names in line:
            if names.startswith("A"):
                print(names)

Akhil
Arha
Ananya
Aha

In [101]:
#42 count total number of employees in CTS company:
with open("nthdata.txt","r") as file:
    data=file.readlines()

for i in data:
    if "CTS" in i:
        line=i.split(",")
        print(len(line)-1)

8

In [105]:
#43 fetch all companies where Venkat employee is working:
with open("nthdata.txt","r") as file:
    data=file.readlines()

for i in data:
    if "Venkat" in i:
        line=i.split(",")
        print(line[0])

TCS
INFOSYS
CTS
NTH
ABC

In [102]:
#44 fetch all companies names which name starts with vowel:

with open("nthdata.txt","r") as file:
    data=file.readlines()

for i in data:
    line=i.split(",")
    if line[0].startswith(("A","E","I","O","U")):
        print(line[0])

INFOSYS
ABC

In [25]:
#45 fetch all palindrome names from the file:
with open("nthdata.txt","r") as file:
    data=file.read().replace("\n",",").split(",")

for j in data:
    i=j.lower()
    if i==i[::-1]:
        print(j)

TCS
Sai
Rohit
Satya
Dhoni
Sarath
Saroj
Venkat
Sas
INFOSYS
Kohli
Santosh
Venkat
Koti
Prabha
Soumya
Mishra
WIPRO
Satya
Kohli
Ram
Chinna
Pop
Amelia
Suresh
Arjuna
CTS
Prabha
Subha
Debha
Rabha
Venkat
Dhoni
Surya
Saroj
NTH
Narayana
Akhil
Arha
Venkat
Sravya
Ananya
Revanth
Aha
ABC
Arha
Chinna
Satya
Dhoni
Venkat
Rohit
Yash
Nikhilesh

In [14]:
#46 fetch all companies names where palindrome named employees working:
with open("nthdata.txt","r") as file:
    data=file.readlines()

for i in data:
    line=i.replace("\n","").split(",")

    for word in line:
        name=word.lower()
        if name==name[::-1]:
            print(word,line[0])

Sas TCS
Pop WIPRO
Aha NTH

In [21]:
#47 fetch the lengthiest company name:
with open("nthdata.txt","r") as file:
    data=file.readlines()
max=0
longestword=""
for i in data:
    line=i.replace("\n","").split(",")
    company_name=line[0]

    if len(company_name)>max:
        longestword=company_name
        max=len(company_name)

print("longest company name => ",longestword)

longest company name =>  INFOSYS

In [24]:
#48 fetch the nengthiest employee name in ABC company:
with open("nthdata.txt","r") as file:
    data=file.readlines()

max=0
longest_name=""
for i in data:
    
    if "ABC" in i:
        line=i.replace("\n","").split(",")
        
        for name in line:
            if len(name)>max:
                longest_name=name
                max=len(name)

print(longest_name)

Nikhilesh

In [4]:
#49 fetch shortest employee name in the WIPRO company:
with open("nthdata.txt","r") as file:
    data=file.readlines()

min=10
shortest_name=""
for i in data:
    
    if "WIPRO" in i:
        line=i.replace("\n","").split(",")
        
        for name in line:
            if len(name)<min:
                shortest_name=name
                
                min=len(name)

print(shortest_name)

Ram

In [4]:
#50 count total number of employee in each company in dict format:

with open("nthdata.txt","r") as file:
    data=file.readlines()
res={}
for i in data:
    line=i.replace("\n","").split(",")
    employees=line[1:]
    company=line[0]
    
    res[company]=len(employees)

print(res)

{'TCS': 8, 'INFOSYS': 7, 'WIPRO': 8, 'CTS': 8, 'NTH': 8, 'ABC': 8}